Flask
Flask-Limiter
Pillow
PyYAML
blurhash
boto3==1.35.99
confusable-homoglyphs
erlastic
fastapi
flask-cors
gunicorn
lxml
lxml-stubs
mypy
nltk
numpy
numpy==1.26.4
onnxruntime
openai
pillow-heif
psycopg[binary]
pydantic[email]
redis
regex
types-Pillow
types-Pygments
types-colorama
types-pyOpenSSL
types-regex
types-requests
types-ujson
types-xmltodict
uvicorn
websockets
xmltodict
