node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

android
ios

# iOS builds
build-*.ipa

# Vim's temporary files
*.swo
*.swp
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
