@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
    background: #ddd;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #70f;
    border-radius: 99px;
  }

  @-moz-document url-prefix() {
    * {
      scrollbar-color: #70f #ddd;
    }

    *::-moz-scrollbar-thumb {
      border-radius: 99px;
    }
  }
}

